.formColumn {
  width:430px;
  height: 560px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color:black;
  margin: 20px 20px 20px 20px ;
  padding-top: 20px;
  box-shadow: 2px 5px 15px grey;
  float: left;
  border-radius: 20px;
  position: relative;
  font-size: 12px;
  background-color:#f2f2f2;
  font-weight: bold;
} 

label {
  display: inline-block;
  text-align: right;
  width: 125px;
 } 

.formColumn input[type=text], input[type=password], input[type=date], input[type=number] {
  margin: 8px 10px;
  border:none;
  background: white;
  outline: none;
  border-radius: 20px;
  height: 15px;
  width: 200px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

select {
  border:none;
  outline: none;
  border-radius: 20px;
  height: 35px;
  width: 220px;
  padding: 10px;
  margin: 8px 10px;
}

textarea {
  width: 340px;
  height: 120px;
  margin-top: 10px;
}

.save-button {
  font-family: 'Poppins', sans-serif;
  width: 150px;
  background-color: brown;
  color:#fff;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  border:none;
  cursor: pointer;
  margin-top: 20px;
  border-style: outset;
  border-width: 3px;
}

