<h1>Login</h1>
<form action="/login" method="POST">
     <div>
          <label for="userName">UserName</label>
          <input type="text" id="userName" name="userName" required>
     </div>
     <div>
          <label for="password">Password</label>
          <input type="text" id="password" name="password" required>
     </div>
     <button type="submit">Login</button>
     <a href="/register">Register</a>
</form>

<% if (typeof message !='undefined' && message) { %>
     <h2><%= message %></h2>
   <% } %>