<h1>Register</h1>
<form action="/register" method="POST">
     <div>
          <label for="userName">UserName</label>
          <input type="text" id="userName"  name="userName" required>
     </div>
     <div>
          <label for="password">Password</label>
          <input type="text" id="password" name="password" required>
     </div>
     <div>
          <label for="passwordConfirm">Confirm Password</label>
          <input type="text" id="passwordConfirm" name="passwordConfirm" required>
     </div>
     <button type="submit">Register</button>
     <a href="/login">Login</a>
</form>

<% if (typeof message !='undefined' && message) { %>
     <h2><%= message %></h2>
   <% } %>